@import "tailwindcss";

/* Tailwind v4 এর জন্য ক্লাসিক ডার্ক ভ্যারিয়েন্ট সক্রিয় করা হলো */
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0090FF;
  --color-darkBg: #232A35;
  --color-deepBg: #010F23;
  --color-accentPink: #E30092;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

/* স্ক্রোলবার হাইড করার ইউটিলিটি ক্লাস */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}